/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  --background: #f5f5f5;
  --dark: #2a2a2a;
  --rojo: #e93658;
  --lightBlue: #bbcbd8;
  --lightDark: #30323c;
  --creme: #f3e4ce;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: var(--background);
  font-family: "Raleway";
  line-height: 1;
  scroll-behavior: smooth;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--dark);
}

form div div {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
textarea {
  padding: 0.6rem 0.4rem;
  border: 2px solid var(--lightDark);
  border-bottom: 2px solid var(--lightBlue);
  color: #bbcbd8;
  margin: 0 auto;

  margin-top: 1.4rem;
  border-radius: 3px;
  transition: all 0.3s;
  width: 90%;
  outline: none;

  background-color: var(--lightDark);
  resize: vertical;
}

label {
  font-size: 1rem;
  position: absolute;
  top: 2.1rem;
  transition: all 0.3s;
  opacity: 0.9;
  left: 1.5rem;
}

input:focus ~ label,
textarea:focus ~ label {
  color: var(--rojo);
  font-size: 0.9rem;
  top: 0.9rem;
}
input:valid ~ label,
textarea:valid ~ label {
  top: 0.9rem;
  font-size: 0.9rem;
  color: var(--lightBlue);
}

input:focus,
textarea:focus,
input:valid,
textarea:valid {
  border-bottom: 2px solid var(--lightBlue);
}
input:focus,
textarea:focus {
  border-bottom: 2px solid var(--rojo);
}

/*Sección Menu*/
input[type="checkbox"] {
  visibility: hidden;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.tudo {
  width: 100%;

  height: auto;
}
.skills__title,
.academic__title,
.hobbies__title {
  text-align: center;
  font-size: 1.6rem;
  color: var(--lightDark);
}
.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 0 0.8rem;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  height: auto;
  color: #f5f5f5;

  background: var(--lightDark);

  z-index: 9;
}

.menu__container__hamburguer {
  position: absolute;
  right: 20px;
  top: 40%;
  width: 30px;
  height: 30px;
  display: none;
}
.menu__container__hamburguer a {
  display: block;
  width: 30px;
  height: 3px;
  background: var(--rojo);
  margin-top: 5px;
}

.menu__a__closed {
  position: fixed;
  top: 0;
  display: none;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
}

.menu__list {
  display: flex;
  gap: 20px;
  transition: all 0.3s;
}

.menu__list__item a {
  color: #f5f5f5;
}
.menu__list__item {
  transition: transform 0.3s;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.3s;
}
.menu__list__item:hover {
  transform: translate(0, 3px);
}

.footer {
  width: 100%;
  height: 40px;
  padding: 0 0 1rem 0;
  text-align: center;
  color: var(--background);
  border-top: 2px solid var(--rojo);
  background: var(--lightDark);
}

.footer > p {
  font-size: 0.75rem;
}

/*Mobile*/
